.header {
  margin: auto;
  text-align: center;
  word-spacing: 5rem;
}

.ribbon {
  background-color: #7f990c;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

.ribbonHeader {
  display: flex;
  flex-direction: row;
  margin: auto;
  text-align: center;
}

.logo {
  width: 58%;
  text-align: end;
}

.phoneNumber {
  font-size: 40px;
  color: aliceblue;
  width: 30%;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.links {
  display: inline-block;
  margin: 0 auto;
  font-size: 20px;
  padding: 0%;
  padding-left: 7px;
  padding-right: 7px;
}

.linkContainer {
  margin: auto;
  text-align: center;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: #70491f;
  text-decoration: underline;
}

hr {
  display: block;
  overflow: hidden;
  border-style: solid;
  border-width: 1px;
  background-color: black;
}

.indexContainer {
  margin: 35px;
  border: 3px;
  border-style: solid;
  border-color: black;
  width: 95%;
}
.text {
  float: left;
  border-style: dashed;
  border: 2px;
  border-color: black;
  background-color: black;
}

body {
  background-color: #70491f;
}

.bodyDiv {
  width: 65%;
  background-color: rgb(255, 255, 255);
  margin: auto;
}

.bathroomText {
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin-top: 220px;
}

.galleryText {
  margin-top: 10px;
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

.picturesContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 70%;
  margin: auto;
}

.pictures > img:hover {
  transform: scale(2);
  z-index: 2;
}

.pictures > img {
  float: left;
  justify-self: center;
  margin: 15px;
  box-shadow: 0 0px 20px 2px rbga(0, 0, 0, 0.1);
  transition: 0.5s;
  width: 300px;
  height: auto;
  border: 2px solid black;
  border-radius: 5px;
  border-radius: 2px solid black;
}

.reveal {
  position: relative;
  transform: translateX(150px);
  opacity: 0;
  transition: 1s all ease;
}

.reveal.active {
  transform: translateY(0);
  opacity: 1;
}

input {
  width: 60%;
  margin: 8px;
  background-color: rgb(210, 210, 210);
}

input[name="message"] {
  width: 90%;
  height: 100px;
}
