body {
  background-image: url("images/flag.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 100%;
}

.header {
  margin: auto;
  text-align: center;
  word-spacing: 5rem;
}

.ribbon {
  border-bottom: 5px solid black;
  width: 100%;
}

.ribbonHeader {
  display: flex;
  flex-direction: row;
  background-color: #e23131;
  margin: 0;
  padding: 0;
  text-align: center;
  width: 100%;

  justify-content: center;
}

.services {
  width: 33%;
  text-align: left;
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
}

.logo {
  width: 33%;
  padding-top: 1%;
  padding-bottom: 1%;
  position: relative;
}

.logo > img {
  width: 200px;
  position: absolute;
  left: 3%;
  top: 15%;
}

.phoneNumber {
  position: relative;
  font-size: 40px;
  color: aliceblue;
  width: 33%;
  font-family: Arial, Helvetica, sans-serif;
}

.phoneNumber > p {
  position: absolute;
  bottom: 10px;
}

.links {
  display: inline-block;
  margin: 0 auto;
  font-size: 25px;
  padding-left: 7px;
  padding-right: 7px;
  padding-bottom: 0;
  margin-bottom: 0;
  border-left: 5px white;
  border-right: 5px white;
}

.links > a:link {
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  padding-bottom: 0;
}

.links > a:hover {
  background-color: black;
  border-radius: 7px 7px 0 0;
  transform: scale(2);
}

.linkContainer {
  border: 4px solid black;
  text-align: center;
  background-color: rgb(255, 255, 255);
  width: 100%;
}

.scrollFix {
  position: fixed;
  top: 0;
  z-index: 1;
  height: 70px;
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

.truck {
  /* This section calls the slideInFromLeft animation we defined above */
  animation: 2s ease-out 0s 1 slideInFromLeft;
  padding: 30px;
  justify-content: center;
}
.text {
  float: left;
  border-style: dashed;
  border: 2px;
  border-color: black;
  background-color: black;
}

.bodyDiv {
  width: 65%;
  background-color: rgb(255, 255, 255);
  margin: auto;
  border: 5px solid black;
  justify-content: center;
}

.bathroomText {
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin-top: 220px;
}

.galleryText {
  margin-top: 10px;
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

.picturesContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 70%;
  justify-content: center;
  margin: auto;
}

.pictures > img:hover {
  z-index: 2;
  transform: scale(2);
}

.pictures > img {
  float: left;
  justify-self: center;
  margin: 15px;
  transition: 0.2s;
  width: 300px;
  height: auto;
  border-radius: 5px;
  box-shadow: 7px 5px 5px rgb(109, 109, 109);
}

/* .reveal {
  position: relative;
  opacity: 0;
  transform: translateY(20px), translateX(10px), translateY(5px);

  transition: 0.5s all ease;
}

.reveal.active {
  transform: translateY(0);
  opacity: 1;
} */

input {
  width: 60%;
  margin: 8px;
  background-color: rgb(210, 210, 210);
}

input[name="message"] {
  width: 90%;
  height: 100px;
}
